---
title: Kalliope
---
{% include header.html %}
{% include navbar.html %}
<div class="container">
    <div class="well">
        <p class="lead">
            A neuron is a plugin that performs a specific action.</br>
            Neurons are executed one by one when the input signal is triggered.</br>
            You can add as many neurons as you want to a synapse.

        </p>
        Join the community and add your own videos to
        <a href="https://github.com/kalliope-project/kalliope-project.github.io/blob/sources/_data/community_neurons.yml">
        the list</a>!

    </div>
    <!-- neuron core -->
    {% include core_neuron.html neurons=site.data.core_neurons %}

    <!-- neuron community -->
    {% include community_neurons.html neurons=site.data.community_neurons %}
</div>
{% include footer.html %}