---
title: Kalliope
---
{% include header.html %}
{% include navbar.html %}
<div class="container">
    <div class="well">
        <p class="lead">
            Join the community and add your own videos to
            <a href="https://github.com/kalliope-project/kalliope-project.github.io/blob/sources/_data/community_neurons.yml">
            the list
            </a>! 
        </p>
        A neuron is a plugin that performs a specific action. You use it to create a synapse. You can add as many neurons as you want to a synapse. 
        Neurons are executed one by one when the input signal is triggered.
    </div>
    <!-- neuron core -->
    {% include core_neuron.html neurons=site.data.core_neurons %}

    <!-- neuron community -->
    {% include community_neurons.html neurons=site.data.community_neurons %}
</div>
{% include footer.html %}