<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="/dist/css/ripples.min.css">

    <!-- flags -->
    <link href="/assets/docs.css" rel="stylesheet">
    <link href="/css/flag-icon.css" rel="stylesheet">

    <!-- font-linux -->
    <link rel="stylesheet" type="text/css" href="/assets/font-linux.css">

    <!-- Personal css-->
    <link rel="stylesheet" type="text/css" href="/css/kalliope.css">


</head>
<body>

