<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Kalliope</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.url == "/signals_marketplace.html" %}class="active"{% endif %}><a href="/signals_marketplace.html">Signals marketplace</a></li>
                <li {% if page.url == "/neurons_marketplace.html" %}class="active"{% endif %}><a href="/neurons_marketplace.html">Neurons marketplace</a></li>
                <li {% if page.url == "/triggers_marketplace.html" %}class="active"{% endif %}><a href="/triggers_marketplace.html">Triggers marketplace</a></li>
                <li {% if page.url == "/tts_marketplace.html" %}class="active"{% endif %}><a href="/tts_marketplace.html">TTS marketplace</a></li>
                <li {% if page.url == "/starter_kit.html" %}class="active"{% endif %}><a href="/starter_kit.html">Starter kits</a></li>
                <li {% if page.url == "/side_projects.html" %}class="active"{% endif %}><a href="/side_projects.html">Side projects</a></li>
                <li {% if page.url == "/brain_examples.html" %}class="active"{% endif %}><a href="/brain_examples.html">Brain examples</a></li>
            </ul>
        </div>
    </div>
</div>