---
layout: homepage
title: Kalliope
---
{% include header.html %}
{% include navbar.html %}
<div class="container">
    <div class="well">
        <img class="img-responsive center-block" src="images/Kalliope_logo_large.png">

        <h3>Kalliope is a modular always-on voice controlled personal assistant designed for home automation.</h3>

        <img class="img-responsive img-rounded center-block" src="images/kalliope_presentation_2.png">
    </div>
    <!-- demo EN -->
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            <h3 class="panel-title">Demo</h3>
        </div>-->
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead">
                        Take a look to the <a href="/brain_examples.html">community brain</a> if you want to see more examples of usage, videos in other languages and also the configuration of Kalliope to get this result.

                    </p>
                    <p class="lead">
                        See the <a href="/neurons_marketplace.html">marketplace</a> to have an idea of what you can do with Kalliope!
                    </p>

                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PcLzo4H18S4"></iframe>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- installation -->
    <div class="panel panel-default">
        <!--<div class="panel-heading">
            <h3 class="panel-title">Installation</h3>
        </div>-->
        <div class="panel-body">
            <p class="lead">Kalliope can be installed on multiple linux system, and also on small single-board computers like the Raspberry Pi.</p>

            <div class="row">
                <div class="col-md-1 col-md-offset-2">
                    <a class="btn btn-default btn-large" href="https://github.com/kalliope-project/kalliope/blob/master/Docs/installation/debian_jessie.md">
                        <h1><span class="fl-debian"></span></h1> Debian
                    </a>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <a class="btn btn-default btn-large" href="https://github.com/kalliope-project/kalliope/blob/master/Docs/installation/ubuntu_16.04.md">
                        <h1><span class="fl-ubuntu"></span></h1> Ubuntu
                    </a>
                </div>
                <div class="col-md-1 col-md-offset-2">
                    <a class="btn btn-default btn-large" href="https://github.com/kalliope-project/kalliope/blob/master/Docs/installation/raspbian_jessie.md">
                        <h1><span class="fl-raspberry-pi"></span></h1> Raspbian
                    </a>
                </div>
            </div>

            <a href="https://github.com/kalliope-project/kalliope" class="btn btn-success btn-lg btn-block btn-raised">
                <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Documentation
            </a>
            <a href="https://github.com/kalliope-project/kalliope/blob/master/Docs/installation/quickstart.md" class="btn btn-info btn-lg btn-block btn-raised">
                <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Quickstart
            </a>

        </div>
    </div>

</div>
{% include footer.html %}